@model Practice_4.Models.BaseProduct

@{
    ViewBag.Title = "Edit";
}


@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger" role="alert">
        @foreach (var modelstate in ViewData.ModelState.Values.Where(value => value.Errors.Count > 0))
        {
            foreach (var item in modelstate.Errors)
            {
                <p>@item.ErrorMessage</p>
            }
        }
    </div>
}
<h2>Редактирование</h2>

@using (Html.BeginForm("Edit", "BaseProduct", FormMethod.Post))
{
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => Model.Name, new { htmlAttributes = new { @class = "form-control col-md-10" } })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control col-md-10" } })
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Назад", "Index", "Products", null, new { @class = "btn btn-danger" })
                <button type="submit" class="btn btn-success">Подвердить</button>
            </div>
        </div>
    </div>

}
